ul {
    
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 8px;
}
.container {
    height: 70px;
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    align-items: center;
    
}

.item-1 {
    flex-shrink: 2;
    margin-right: auto;
}

.item-2 {
    background-color: white;
    padding: 20px;
    width: 70px;
    text-align: center;
}

.item-3 {
    flex-shrink: 2;
    margin-left: auto;
}
li {
    padding: 15px;
    background-color: white;
}